<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.BlogDao">
    <resultMap id="blogMap" type="demo.Blog">
        <result column="blogtype" property="blogType" javaType="demo.BlogTypeEnum" typeHandler="demo.BlogTypeEnumTypeHandler" />
    </resultMap>
    <select id="getBlog" resultMap="blogMap">
        select * from Blog where id = #{id}
    </select>
    <select id="getBlogs" resultMap="blogMap" >
        select * from Blog where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="search" parameterType="paging.SearchParams" resultMap="blogMap">
        select id,blogname from Blog where blogname like concat('%', #{searchParams.blogName}, '%')
    </select>
    <insert id="insertBlog" parameterType="demo.Blog" useGeneratedKeys="true"
            keyProperty="entity.id">
        INSERT INTO Blog (blogname,blogtype) VALUES (#{entity.blogName}, 1)
    </insert>
</mapper>